<%- include("partials/header") %>

<h1>Home</h1>
<p>
    <%= homeStartingContent %>
</p>
<% for (let i = 0; i < posts.length; i++) { %>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><%= posts[i].title %></h1>
      <p class="card-text"><%= posts[i].body.substring(1, 100) + "..." %> <a href="post/<%= posts[i]._id %>">Read More</a></p>    
    </div>
  </div>
<% } %>


<%- include("partials/footer") %>